{# /templates/exchange/create_exchange.html #}

{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy new_exchange new_exchange.helper %}

{% block title_text %}Profile{% endblock %}

{% block header_text %}Your Profile{% endblock %}

{% block content %}
    <div class="container col-md-6 col-md-offset-4">
        <ul>
        {% for item in exchange_list %}
            <li>{{item.name}}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    {% crispy form %}
{% endblock %}

