<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title_text %}{% endblock %}</title>
</head>

<body>
    <a href="{% url 'home' %}">
        <div class="container">
            <div class="jumbotron">
                <h1>{% block header_text %}{% endblock %}</h1>
            </div>
        </div>
    </a>
    {% block content %}
    {% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
    
</body>

</html>